# net.minecraft.client.model.IllagerModel
public net.minecraft.client.model.IllagerModel f_170686_ # root # root
public net.minecraft.client.model.IllagerModel f_102901_ # head # head
public net.minecraft.client.model.IllagerModel f_102902_ # hat # hat
public net.minecraft.client.model.IllagerModel f_102904_ # arms # arms
public net.minecraft.client.model.IllagerModel f_102905_ # leftLeg # leftLeg
public net.minecraft.client.model.IllagerModel f_102906_ # rightLeg # rightLeg
public net.minecraft.client.model.IllagerModel f_102907_ # rightArm # rightArm
public net.minecraft.client.model.IllagerModel f_102908_ # leftArm # leftArm